@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
}
.gradient-bg {
  background: linear-gradient(180deg, #fdf7f2 0%, #ffffff 100%);
}